@font-face {
    font-family: 'Effra';
    src: url('./font/Effra_Std.ttf');
}

@font-face {
    font-family: 'Effra-Light';
    src: url('./font/Effra_Std_Lt.ttf');
}

@font-face {
    font-family: 'Effra-Bold';
    src: url('./font/Effra_Std_Bd.ttf');
}

@font-face {
    font-family: 'Effra-Heavy';
    src: url('./font/Effra_Std_He.ttf');
}

@font-face {
    font-family: 'KaushanScript';
    src: url('./font/KaushanScript-Regular.ttf');
}
